
.about-me {
    grid-area: $area-global-aboutme;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 44px;
        font-weight: bold;
        color: $color-text;
        text-align: center;

        @include respond-to(getMaxWidth(tablets)) {
            font-size: 32px;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    & p {
        grid-area: skill-descp;
        margin: 0;
        color: $color-text;
    }
}

@import "../components/about_me_card";