
.about-me {
    grid-area: $area-global-aboutme;
    font-size: getFontSize(full);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(getMaxWidth(phones1)) {
        font-size: getFontSize(tbig);
    }

    & h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
        font-size: 1em;
        color: $color-text;
        @include respond-to(getMaxWidth(phones1)) {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 45px;
        }
    }

    & p {
        grid-area: skill-descp;
        margin: 0;
        color: $color-text;
    }
}

@import "../components/about_me_card";