
.about-me {
    grid-area: $area-global-aboutme;
    margin-left: 15%;
    font-size: getFontSize(full);

    @include respond-to(getMaxWidth(phones1)) {
        margin-left: 10%;
        margin-right: 10%;
        font-size: getFontSize(tbig);
    }

    & h2 {
        font-size: 1em;
        color: $color-text;
        @include respond-to(getMaxWidth(phones1)) {
            text-align: center;
        }
    }

    & p {
        grid-area: skill-descp;
        margin: 0;
        color: $color-text;
    }
}

@import "../components/about_me_card";