.my-footer {
    grid-area: footer;
    width: 100%;
    background-color: $color-accent;
    height: min-content;
    @include flex-full-center();
    color: $color-white;

    & p {
        margin: 0;
        text-align: center;
        padding: $base-padding;
    }

    & a {
        color: $color-links;
    }
}
    
.my-name {
    color: $color-text !important;
    font-weight: bold;
}