.global-container {
    display: grid;
    grid-template-areas: 
    ". #{$area-global-hero}"
    ". #{$area-global-skills}"
    ". #{$area-global-aboutme}"
    ". #{$area-global-projects}"
    ". #{$area-global-footer}";
    grid-template-columns: minmax(5em, 7em) 1fr;
    grid-row-gap: 1.2em;
    background-color: $color-background;

    @include respond-to(getMaxWidth(phones1)) {
        grid-template-areas:
        "#{$area-global-left-bar}" 
        "#{$area-global-hero}"
        "#{$area-global-skills}"
        "#{$area-global-aboutme}"
        "#{$area-global-projects}"
        "#{$area-global-footer}";
        grid-template-columns: 100vw;
    }
    


}