.hero {
    font-size: getFontSize(full);
    grid-area: $area-global-hero;
    display: grid;
    grid-template-areas: 
        "#{$area-hero-nav} #{$area-hero-nav}"
        "#{$area-hero-title} #{$area-hero-img}";
        
    grid-template-columns: 55% 45%;
    background-color: $color-background-light;
    @include shadows($header-shadow);
    @include bottom-shadow;

    & h1 {
        color: $color-text;
        font-size: 1em;
        font-weight: bold;
        grid-area: $area-hero-title;
        justify-self: center;
        margin-left: 0.5em;
        
        @include respond-to(getMaxWidth(tablets)) {
            text-align: center;
            margin: 0.5em 0;
            font-size: 0.55em;
        }
    }

    //Responsive
    @include respond-to(getMaxWidth(tablets)) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 1rem;
        padding: 1rem 0.5rem 2rem 0.5rem;
        grid-template-areas: 
        "#{$area-hero-nav}"
        "#{$area-hero-title}"
        "#{$area-hero-img}";
    }

    @include respond-to(getMaxWidth(phones2)) {
        font-size: getFontSize(mid);
    }

}

@import "../components/hero_nav";
@import "../components/hero_picture";