.hero {
    font-size: getFontSize(full);
    grid-area: $area-global-hero;
    display: grid;
    grid-template-areas: 
        "#{$area-hero-nav} #{$area-hero-nav}"
        "#{$area-hero-title} #{$area-hero-img}";
        
    grid-template-columns: 55% 45%;
    background-color: $color-background-light;
    @include shadows($header-shadow);
    @include bottom-shadow;

    & h1 {
        color: $color-text;
        font-size: 1em;
        font-weight: bold;
        grid-area: $area-hero-title;
        justify-self: center;
    }

    //Responsive
    @include respond-to(getMaxWidth(tablets)) {
        font-size: getFontSize(big);
    }

    @include respond-to(getMaxWidth(phones1)) {
        grid-template-columns: 1fr;
        grid-template-rows: 15% 42% 43%;
        grid-template-areas: 
        "#{$area-hero-nav}"
        "#{$area-hero-title}"
        "#{$area-hero-img}";
    }

    @include respond-to(getMaxWidth(phones2)) {
        font-size: getFontSize(mid);
    }

    @include respond-to(getMaxWidth(phones3)) {
        padding-top: 1.03em;
    }

}

@import "../components/hero_nav";
@import "../components/hero_picture";