.about-me-card {
    @extend .base-card;
    font-size: getFontSize(tnormal);
    padding: 20px;
    line-height: 1.8em;
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 30rem;
    text-align: center;
    color: $color-text;

    @include respond-to(getMaxWidth(tablets)) {
        max-width: 28rem;
    }

    @include respond-to(getMaxWidth(phones1)) {
        width: calc(100% - 2rem);
        max-width: 100%;
        margin: 0 auto;
    }
}
