.base-card {
    max-width: 22rem;
    min-height: 3rem;
    border-radius: $base-radius;
    background-color: white;
    @include shadows($base-card-shadow);
}

.hero-picture {
    @include flex-full-center;
    grid-area: hero-img;
    background-color: $color-accent;
    width: 60%;
    border-radius: $base-responsive-radius;
    position: relative;
    justify-self: center;
    top: 20%;
    height: 100%;
    @include shadows($hero-pic-shadow);

    //Responsive
    @include respond-to(getMaxWidth(laptop)) {
        width: 64%;
    }

    @include respond-to(getMaxWidth(tablets)) {
        top: 12%;
        width: 68%;
    }

    @include respond-to(getMaxWidth(phones1)) {
        width: 60%;
        margin: 0;
        top: 15%;
        height: 4em;
    }

    @include respond-to(getMaxWidth(phones2)) {
        font-size: 42px;
    }
}

.skill-card {
    @extend .base-card;
    display: grid;
    grid-template-areas:
        "#{$area-skill-badge} #{$area-skill-title}"
        "#{$area-skill-badge} #{$area-skill-descp}";
    grid-column-end: span 4;

    //Responsive: 
    //TODO: Make this different with React.
    @include respond-to(getMaxWidth(tablets)) {
        &:nth-of-type(1) {
            grid-column-start: 2;
        }
        
        &:nth-of-type(2) {
            grid-row-start: 2;
            grid-column-start: 3;
        }
        
        &:nth-of-type(3) {
            grid-row-start: 3;
            grid-column: 4 / span 4;
        }

    }

    @include respond-to(getMaxWidth(phones1)) {
        grid-column-end: -1;

        &:nth-of-type(1){
            grid-column-start: 1;
        }
        
        &:nth-of-type(2){
            grid-row-start: 2;
            grid-column-start: 1;
        }
        
        &:nth-of-type(3){
            grid-row-start: 3;
            grid-column: 1 / -1;
        }
    }

    @include respond-to(getMaxWidth(phones2)) {
        grid-template-columns: 4em auto;
        grid-column-gap: 10px;
    }
}

.about-me-card {
    @extend .base-card;
    font-size: getFontSize(normal);
    padding: 20px;
    line-height: 2em;
    margin: 0;
    color: $color-text;

    //Responsive
    @include respond-to(getMaxWidth(tablets)) {
        max-width: 28rem;
    }

    @include respond-to(getMaxWidth(phones1)) {
        font-size: getFontSize(tnormal);
    }

    @include respond-to(getMaxWidth(phones2)) {
        grid-template-columns: auto;
    }
}
