.base-card {
    max-width: 22rem;
    min-height: 3rem;
    border-radius: $base-radius;
    background-color: white;
    @include shadows($base-card-shadow);
}

.hero-picture {
    @include flex-full-center;
    grid-area: hero-img;
    background-color: $color-accent;
    width: 60%;
    border-radius: $base-responsive-radius;
    position: relative;
    justify-self: center;
    top: 20%;
    height: 100%;
    @include shadows($hero-pic-shadow);
}

.skill-card {
    @extend .base-card;
    display: grid;
    grid-template-areas:
        "skill-badge skill-title"
        "skill-badge skill-descp";
    grid-column-end: span 4;

    //Responsive: 
    //TODO: Make this different with React.
    @include respond-to(getMaxWidth(tablets)) {
        &:nth-of-type(1) {
            grid-column-start: 2;
        }
        
        &:nth-of-type(2) {
            grid-row-start: 2;
            grid-column-start: 3;
        }
        
        &:nth-of-type(3) {
            grid-row-start: 3;
            grid-column: 4 / span 4;
        }

    }

    @include respond-to(getMaxWidth(phones1)) {
        grid-column-end: -1;

        &:nth-of-type(1){
            grid-column-start: 1;
        }
        
        &:nth-of-type(2){
            grid-row-start: 2;
            grid-column-start: 1;
        }
        
        &:nth-of-type(3){
            grid-row-start: 3;
            grid-column: 1 / -1;
        }
    }

    @include respond-to(getMaxWidth(phones2)) {
        grid-template-columns: 4em auto;
        grid-column-gap: 10px;
    }
}

.about-me-card {
    @extend .base-card;
    font-size: getFontSize(normal);
    padding: 20px;
    line-height: 2em;
    margin: 0;
    color: $color-text;

    //Responsive
    @include respond-to(getMaxWidth(tablets)) {
        max-width: 28rem;
    }

    @include respond-to(getMaxWidth(phones1)) {
        font-size: getFontSize(tnormal);
    }

    @include respond-to(getMaxWidth(phones2)) {
        grid-template-columns: auto;
    }
}

.project-card {
    width: 5em;
    height: 5em;
    border-radius: $base-radius;
    overflow: hidden;
    background-color: $color-accent;
    @include flex-justify-center;
}