/**
Variables
*/
$area-hero-nav: hero-nav;
$area-hero-title: hero-title;
$area-hero-img: hero-img;
$area-global-left-bar: left-bar;
$area-global-hero: hero;
$area-global-skills: skills;
$area-global-aboutme: about-me;
$area-global-projects: projects;
$area-global-footer: footer;
$area-skill-badge: skill-bagde;
$area-skill-title: skill-title;
$area-skill-descp: skill-descp;