.hero-picture {
    @include flex-full-center;
    grid-area: hero-img;
    background-color: $color-accent;
    width: 60%;
    border-radius: $base-responsive-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25em;
    position: relative;
    justify-self: center;
    top: 20%;
    height: 100%;
    @include shadows($hero-pic-shadow);

    @include respond-to(getMaxWidth(laptop1)) {
        width: 64%;
    }

    @include respond-to(getMaxWidth(tablets)) {
        top: 0%;
        width: 75%;
    }

    @include respond-to(getMaxWidth(phones1)) {
        width: 55%;
        margin: 0;
        height: 4em;
        margin-left: 0.5em;
    }

    @include respond-to(getMaxWidth(phones2)) {
        font-size: 42px;
    }

    @include respond-to(getMaxWidth(phones3)) {
        top: 5%;
    }
}

.hero-picture img {
    max-width: 83%;
    max-height: 70%;
    border-radius: $base-responsive-radius;
    background-image: url('images/image.png');

    @include respond-to(getMaxWidth(phones1)) {
        max-height: 85%;
    }
}