.hero-picture {
    @include flex-full-center;
    grid-area: hero-img;
    background-color: $color-accent;
    width: 50%;
    aspect-ratio: 3 / 4;
    height: auto;
    border-radius: $base-responsive-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-self: center;
    top: 10%;
    @include shadows($hero-pic-shadow);

    @include respond-to(getMaxWidth(laptop1)) {
        width: 60%;
    }

    @include respond-to(getMaxWidth(tablets)) {
        top: 0%;
        width: 70%;
    }

    @include respond-to(getMaxWidth(phones1)) {
        width: 65%;
        max-width: 260px;
        margin: 0 auto;
    }
}

.hero-picture img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: $base-responsive-radius;
}