.project-card {
    width: 100%;
    max-width: 340px;
    aspect-ratio: 1 / 1;
    height: auto;
    position: relative;
    border-radius: $base-radius;
    overflow: hidden;
    background-color: $color-accent;
    @include flex-justify-center;

    & img {
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        border-radius: inherit;
        object-fit: cover;
    }
}