.project-info {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.82);
    border-radius: inherit;
    opacity: 0;
    transition: opacity .3s ease;

    & a {
        width: 100%;
        height: 100%;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    & p {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.4;
        padding: 1rem;
        text-align: center;
    }

    &:hover, &:focus-within, &:active {
        opacity: 1;
    }
}