.project-card {
    width: 5em;
    height: 5em;
    border-radius: $base-radius;
    overflow: hidden;
    background-color: $color-accent;
    @include flex-justify-center;

    & img {
        z-index: 1;
        overflow: hidden;
        border-radius: inherit;
        object-fit: cover;
    }
}