.skill-card {
    @extend .base-card;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
    padding: 1.2rem 1.5rem;

    @include respond-to(getMaxWidth(tablets)) {
        width: calc(100% - 2rem);
        max-width: 100%;
        margin: 0 auto;
    }

    & h4 {
        margin: 0 0 0.4rem 0;
        font-size: 24px;
        color: $color-text;
        font-weight: bold;

        @include respond-to(getMaxWidth(phones3)) {
            font-size: 20px;
        }
    }

    & p {
        font-size: getFontSize(tnormal);
        margin: 0;
        color: $color-text;
        line-height: 1.4;

        @include respond-to(getMaxWidth(phones3)) {
            font-size: 13px;
        }
    }
}