.social-media {
    display: flex;
    flex-direction: column;
    padding-bottom: $base-padding;
    justify-content: flex-end;

    //Responsive
    @include respond-to(getMaxWidth(phones1)) {
        flex-direction: row;
        align-self: center;
        padding-bottom: 0;
    }
}