*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $basefont;
    background-color: $color-background;
    overflow-x: hidden;
    width: 100%;
}