body {
    margin: 0;
    font-family: 'Dosis', Arial, sans-serif;
}

.left-side{
    padding: 1em;
    grid-area: left-bar;
    position: fixed;
    min-width: 5em;
    max-width: 6em;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;
    justify-content: center;
    /*border-right: 1px solid #cc1a1a1a; */
    /*css matic box shadow*/
    -webkit-box-shadow: 2px -1px 11px -7px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px -1px 11px -7px rgba(0,0,0,0.55);
    box-shadow: 2px -1px 11px -7px rgba(0,0,0,0.55);
    background-color: #FCFCFC;
}

.hero {
    grid-area: hero;
    display: grid;
    grid-template-areas: 
    "hero-nav hero-nav"
    "hero-title hero-img";
    grid-template-columns: 55% 45%;
    -webkit-box-shadow: 12px 0px 8px 2px #00000017;
    -moz-box-shadow: 12px 0px 8px 2px #00000017;
    box-shadow: 12px 0px 8px 2px #00000017;
    border-bottom: 1px solid #0000001f;
    background-color: #FCFCFC;
}

.habilities{
    grid-area: skills;
}

.about-me{
    grid-area: about-me;
}

.projects{
    grid-area: projects;
}

.my-footer{
    grid-area: footer;
}

.global-container{
    display: grid;
    grid-template-areas: 
    ". hero"
    ". skills"
    ". about-me"
    ". projects"
    ". footer";
    grid-template-columns: minmax(5em, 7em) 1fr;
    grid-row-gap: 1.2em;
    background-color: #F7FCFF;
}

.social-media{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    justify-content: flex-end;
}

.social-link{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.hero-nav{
    grid-area: hero-nav;
}

/*Start right top navigation items*/
.hero-nav ul{
    display: grid;
    list-style: none;
    justify-content: end;
    grid-auto-flow: column;
    grid-gap: 2rem;
    padding-right: 1em;
    grid-template-rows: 4.2em;
    grid-auto-rows: auto;
}

.hero-nav ul li {
    height: inherit;
    text-decoration: none;
    display: flex;
}

.hero-nav ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: inherit;
    font-size: 1.2em;
    color: #191B4B;
    font-weight: bold;
}
/*End right top navigation items*/

.hero h1 {
    color: #191B4B;
    font-size: 4em;
    font-weight: bold;
    grid-area: hero-title;
    justify-self: center;
}

.hero-picture {
    grid-area: hero-img;
    background-color: #E92042;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    position: relative;
    justify-self: center;
    top: 30%;
    height: 100%;
    -webkit-box-shadow: -2px 13px 35px -19px rgba(0,0,0,0.76);
    -moz-box-shadow: -2px 13px 35px -19px rgba(0,0,0,0.76);
    box-shadow: -2px 13px 35px -19px rgba(0,0,0,0.76);
}

.hero-picture img{
    max-width: 83%;
    max-height: 70%;
    border-radius: 1em;
    background-image: url('images/image.png')
}

.skill-logo {
    grid-area: skill-badge;
    max-width: 100%;
    max-height: 100%;
    min-width: 60%;
    min-height: 60%;
    margin: 0;
}

.skill-card img{
    grid-area: skill-badge;
    max-width: 100%;
    max-height: 100%;
    min-width: 60%;
    min-height: 60%;
    align-self: center;
    justify-self: center;
}

.skill-card h4 {
    grid-area: skill-title;
    margin: 0;
    font-size: 22px;
    color: #191B4B;
    font-weight: bold;
    align-self: center;
}

.skill-card p {
    grid-area: skill-descp;
    margin: 0;
    color: #191B4B;
}

.skill-card {
    display: grid;
    grid-template-areas:
        "skill-badge skill-title"
        "skill-badge skill-descp";
    max-width: 20rem;
    min-height: 5rem;
    border-radius: 15px;
    background-color: white;
    margin: 35px;
    -webkit-box-shadow: -1px 2px 9px 2px rgba(0,0,0,0.12);
-moz-box-shadow: -1px 2px 9px 2px rgba(0,0,0,0.12);
box-shadow: -1px 2px 9px 2px rgba(0,0,0,0.12);
}