.hero h1 {
    animation-name: bounce;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    will-change: transform;
}

.hero h1::before{
    animation-play-state: paused;
}

.hero h1::after{
    animation-play-state: running;
}

.hero-picture{
    animation-name: enter;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    will-change: transform;
}

.hero-picture::before {
    animation-play-state: paused;
}

.hero-picture::before {
    animation-play-state: running;
}

.habilities .skill-card{
    transition: background-position 1s;
    background-size: 200% 100%;
}
.habilities .skill-card:nth-of-type(1){
    background-image: linear-gradient(to right, white 50%, #c55b5b 50%);
}

.habilities .skill-card:nth-of-type(2){
    background-image: linear-gradient(to right, white 50%, #9dda6b 50%);
}

.habilities .skill-card:nth-of-type(3){
    background-image: linear-gradient(to right, white 50%, #6b68eb 50%);
}

.habilities .skill-card:hover{
    background-position: -100% 0;
}



@keyframes bounce{
    0% {
        transform: translateY(-6em);
    }
    40%{
        transform: translateY(0.5em);
    }
    60%{
        transform: translateY(-1.5em);
    }
    100% {
        transform: translateY(0em);
    }
}

@keyframes enter {
    0% {
        transform: translateX(3em);
    }
    40%{
        transform: translateX(-3em);
    }
    60%{
        transform: translateX(1.5em);
    }
    100% {
        transform: translateX(0em);
    }
}