html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Dosis', Arial, sans-serif;
}

.left-side{
    padding: 1em;
    grid-area: left-bar;
    position: fixed;
    min-width: 5em;
    max-width: 6em;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;
    justify-content: center;
    /*css matic box shadow*/
    -webkit-box-shadow: 2px -1px 11px -7px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px -1px 11px -7px rgba(0,0,0,0.55);
    box-shadow: 2px -1px 11px -7px rgba(0,0,0,0.55);
    background-color: #FCFCFC;
}

.hero {
    font-size: 64px;
    grid-area: hero;
    display: grid;
    grid-template-areas: 
    "hero-nav hero-nav"
    "hero-title hero-img";
    grid-template-columns: 55% 45%;
    -webkit-box-shadow: 12px 0px 8px 2px #00000017;
    -moz-box-shadow: 12px 0px 8px 2px #00000017;
    box-shadow: 12px 0px 8px 2px #00000017;
    border-bottom: 1px solid #0000001f;
    background-color: #FCFCFC;
}

.habilities {
    grid-area: skills;
}

.about-me {
    grid-area: about-me;
    margin-left: 15%;
    font-size: 64px;
}

.projects {
    grid-area: projects;
}

.my-footer {
    grid-area: footer;
    width: 100%;
    background-color: #E92042;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
}

.my-footer p {
    margin: 0;
    text-align: center;
    padding: 1em;
}

.my-footer a {
    color: #16C60C;
    text-decoration: none;
}

.my-name {
    color: #191B4B !important;
    font-weight: bold;
}

.global-container {
    display: grid;
    grid-template-areas: 
    ". hero"
    ". skills"
    ". about-me"
    ". projects"
    ". footer";
    grid-template-columns: minmax(5em, 7em) 1fr;
    grid-row-gap: 1.2em;
    background-color: #F7FCFF;
}

.social-media {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    justify-content: flex-end;
}

.social-link {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.social-img {
    width: 28px;
    height: 28px;
}

.hero-nav {
    grid-area: hero-nav;
}

/*Start right top navigation items*/
.hero-nav ul {
    font-size: 16px;
    display: grid;
    list-style: none;
    justify-content: end;
    grid-auto-flow: column;
    grid-gap: 2rem;
    padding-right: 1em;
    grid-template-rows: 4.2em;
    grid-auto-rows: auto;
}

.hero-nav ul li {
    height: inherit;
    text-decoration: none;
    display: flex;
}

.hero-nav ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: inherit;
    font-size: 1.2em;
    color: #191B4B;
    font-weight: bold;
}
/*End right top navigation items*/

.hero h1 {
    color: #191B4B;
    font-size: 1em;
    font-weight: bold;
    grid-area: hero-title;
    justify-self: center;
}

.hero-picture {
    grid-area: hero-img;
    background-color: #E92042;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25em;
    position: relative;
    justify-self: center;
    top: 20%;
    height: 100%;
    -webkit-box-shadow: -2px 13px 35px -19px rgba(0,0,0,0.76);
    -moz-box-shadow: -2px 13px 35px -19px rgba(0,0,0,0.76);
    box-shadow: -2px 13px 35px -19px rgba(0,0,0,0.76);
}

.hero-picture img {
    max-width: 83%;
    max-height: 70%;
    border-radius: .25em;
    background-image: url('images/image.png')
}

.skill-logo {
    grid-area: skill-badge;
    max-width: 100%;
    max-height: 100%;
    min-width: 60%;
    min-height: 60%;
    margin: 0;
}

.skill-card img {
    grid-area: skill-badge;
    max-width: 100%;
    max-height: 100%;
    min-width: 40%;
    min-height: 40%;
    align-self: center;
    justify-self: center;
}

.skill-card h4 {
    grid-area: skill-title;
    margin: 0;
    font-size: 22px;
    color: #191B4B;
    font-weight: bold;
    align-self: center;
}

.skill-card p {
    grid-area: skill-descp;
    margin: 0;
    color: #191B4B;
}

.skill-card {
    display: grid;
    grid-template-areas:
        "skill-badge skill-title"
        "skill-badge skill-descp";
    max-width: 22rem;
    min-height: 3rem;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: -1px 2px 9px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: -1px 2px 9px 2px rgba(0,0,0,0.12);
    box-shadow: -1px 2px 9px 2px rgba(0,0,0,0.12);
    grid-column-end: span 4;
}

.habilities {
    margin-top: 40px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 5rem); 
    grid-row-gap: 1.5em;
}

.skill-card:nth-of-type(1){
    grid-row-start: 1;
    grid-column-start: 2;
}

.skill-card:nth-of-type(2){
    grid-row-start: 2;
    grid-column-start: 3;
}

.skill-card:nth-of-type(3){
    grid-row-start: 3;
    grid-column-start: 5;
    grid-column-end: span 3;
}

.skills-rocket {
    grid-row: 4 / span 2;
    grid-column: 7 / span 3;
    margin: 0;
}

.skills-rocket img {
    max-width: 100%;
    max-height: 100%;
}

.about-me h2 {
    font-size: 1em;
    color: #191B4B;
}

.skill-card.about-me {
    font-size: 16px;
    padding: 20px;
    line-height: 2em;
    margin: 0;
    color: #191B4B;
}

.projects {
    display: grid;
    font-size: 64px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-auto-rows: 5em;
    justify-items: center;
    grid-column-gap: .2em;
    grid-row-gap: .8em;
}

.projects h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    font-size: 1em;
    margin: 0;
    padding: .8em 0 0 0;
    color: #191B4B;
}

.project-card {
    width: 5em;
    height: 5em;
    border-radius: 10px;
    overflow: hidden;
    background-color: #E92042;
    display: flex;
    justify-content: center;
}


.project-card img{
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    border-radius: inherit
}

.project-info {
    width: inherit;
    height: inherit;
    z-index: 2;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    border-radius: inherit;
    opacity: 0;
    transition: .5s;
    transition-property: opacity;
}

.project-info a {
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
}

.project-info p {
    margin: auto 0;
    font-size: .35em;
    padding: 1em;
}

.project-info:hover {
    transition: .5s;
    transition-property: opacity;
    opacity: 1;
}